// import icon
@import '//at.alicdn.com/t/font_2410206_s4d1bpvxrvg.css'

/* responsive breakpoints */
$MQWide ?= 1440px // wide screen
$MQNormal ?= 1280px // desktop
$MQNarrow ?= 959px // narrow desktop / iPad
$MQMobile ?= 719px // wide mobile
$MQMobileNarrow ?= 419px // narrow mobile

$colorPicker = {
  red: #f26d6d,
  blue: #2196f3,
  /* green: #3eaf7c, */
  green: #30f9e2,
  orange: #fb9b5f
}
img[alt="FP reglada"] {
  max-width: 50px;
}