// import icon
@import '//at.alicdn.com/t/font_2410206_s4d1bpvxrvg.css'

$colorPicker = {
  red: #f26d6d,
  blue: #2196f3,
  /* green: #3eaf7c, */
  green: #30f9e2,
  orange: #fb9b5f
}
img[alt="FP reglada"] {
  max-width: 50px;
}